@import './base.css';

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#app,
.view {
    height: 100vh;          /* added for compatibility */
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

/***** Shared component styles *****/

.bar {
    background-color: var(--surface-section);
    z-index: 10;
    width: 100vw;
    -webkit-box-shadow: 0px 0px 6px 0px var(--color-shadow);
    -moz-box-shadow: 0px 0px 6px 0px var(--color-shadow);
    box-shadow: 0px 0px 6px 0px var(--color-shadow);
}

.bar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.nav-bar {
    padding: 8px;
    position: fixed;
    top: 0;
    user-select: none;
    height: 58px;
}

.nav-bar-content {
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
}

.wide-button {
    width: calc(100% - 48px);
    height: 50px;
}

.wide-button .p-button-label {
    font-weight: 600;
}

.wide-button .pi {
    font-size: 1.25rem;
}

.image-view-tool-bar .p-button-label {
    flex-grow: 0;
    font-size: 0.9rem;
}

.image-view-tool-bar .p-button.active {
    background: rgba(96, 165, 250, 0.16);
    border-color: transparent;
}

.popup {
    width: calc(100vw - 24px);
}

.waiting-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(18, 18, 18, 0.65);
}

.light .waiting-overlay {
    background: rgba(200, 200, 200, 0.65);
}

.waiting-overlay .loader {
    width: 64px !important;
    height: 64px !important;
}

.waiting-overlay-enter-active,
.waiting-overlay-leave-active {
    transition: opacity 0.3s ease;
}

.waiting-overlay-enter-from,
.waiting-overlay-leave-to {
    opacity: 0;
}

.notice {
    color: var(--text-color-secondary);
    opacity: 0.7;
    user-select: none;
}

/***** PrimeVue styles overrides *****/

.pi {
    margin-right: 6px;
}

.bar .pi {
    margin-right: 0 !important;
    font-size: 1.5rem;
}

.p-button-label {
    letter-spacing: 0.2px;
}

.p-dialog-header-icons button {
    width: 40px;
    height: 40px;
}

.p-dialog-header-icons svg,
.p-sidebar-close svg {
    width: 20px;
    height: 20px;
}

.p-dialog-header-icons svg path,
.p-sidebar-close svg path {
    fill: var(--primary-color);
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible {
    outline: none;
}

.p-inputswitch-slider::before {
    margin-top: -0.5rem;
}

.p-highlight .p-inputswitch-slider::before {
    background: var(--surface-section);
}

.p-inputgroup-addon .pi {
    margin-right: 0;
    color: var(--primary-color);
}

.p-password .p-input-icon {
    z-index: 10;
    margin-top: -0.5rem;
}

.p-dialog-header {
    user-select: none;
    padding: 20px 24px 10px 24px;
    letter-spacing: 0.3px;
}

*:not(.p-selectbutton) > .p-button:not(.p-button-outlined):not(.p-button-text):hover {
    background: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

/***** Media queries *****/
@media screen and (min-width: 340px) {
    .nav-bar {
        height: 70px;
        padding: 8px 10px;
    }

    .bar .pi {
        font-size: 1.75rem;
    }

    .wide-button {
        width: calc(100% - 48px);
        height: 60px;
        font-size: 1.2rem;
        max-width: 420px;
    }

    .wide-button .p-button-icon {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .bar-content {
        max-width: 1200px;
    }
}
