@import './base.css';

#app,
.view {
    height: 100vh;          /* added for compatibility */
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

/***** Shared component styles *****/

.bar {
    background-color: var(--surface-section);
    z-index: 10;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(9, 9, 11, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(9, 9, 11, 1);
    box-shadow: 0px 0px 6px 0px rgba(9, 9, 11, 1);
}

.image-view-tool-bar .p-button-label {
    flex-grow: 0;
    font-size: 0.9rem;
}

.image-view-tool-bar .p-button.active {
    background: rgba(96, 165, 250, 0.16);
    color: #60a5fa;
    border-color: transparent;
}

/***** PrimeVue scoped styles overrides *****/

.pi {
    margin-right: 6px;
}

.bar .pi {
    margin-right: 0 !important;
    font-size: 1.5rem;
}

.p-button-label {
    letter-spacing: 0.35px;
}

.p-dialog-header-icons button {
    width: 40px;
    height: 40px;
}

.p-dialog-header-icons svg,
.p-sidebar-close svg {
    width: 20px;
    height: 20px;
}

.p-dialog-header-icons svg path,
.p-sidebar-close svg path {
    fill: #60a5fa;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible {
    outline: none;
}

.p-inputswitch-slider::before {
    margin-top: -0.5rem;
}

.p-highlight .p-inputswitch-slider::before {
    background: #18181b;
}
