@import './base.css';

#app,
.view {
    height: 100vh;          /* added for compatibility */
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

.pi {
    margin-right: 6px;
}

.bar .pi,
#instructions-button .pi {
    margin-right: 0 !important;
    font-size: 1.5rem;
}

#instructions-button .pi {
    text-shadow: 0px 0px 6px var(--color-background);
}

.p-button-label {
    letter-spacing: 0.35px;
}

#main-view .p-button-label {
    font-weight: 600;
}

.image-view-tool-bar .p-button-label {
    flex-grow: 0;
    font-size: 0.9rem;
}

.image-view-tool-bar .p-button.active {
    background: rgba(96, 165, 250, 0.16);
    color: #60a5fa;
    border-color: transparent;
}

.bar {
    background-color: var(--surface-section);
    z-index: 10;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(9, 9, 11, 1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(9, 9, 11, 1);
    box-shadow: 0px 0px 6px 0px rgba(9, 9, 11, 1);
}

.p-dialog-header-icons button {
    width: 40px;
    height: 40px;
}

.p-dialog-header-icons svg,
.p-sidebar-close svg {
    width: 20px;
    height: 20px;
}

.p-dialog-header-icons svg path,
.p-sidebar-close svg path {
    fill: #60a5fa;
}

#instructions-popup {
    width: 90vw;
}

#instructions-popup .p-dialog-header {
    padding-bottom: 10px;
}

#instructions-popup .p-dialog-title {
    font-weight: 500;
    letter-spacing: 0.3px;
}

#instructions-popup .instructions-text {
    font-weight: 300;
    letter-spacing: 0.2px;
}

#instructions-popup .instructions-text p {
    margin: 12px 0;
    font-size: 0.9rem;
}

#instructions-popup .instructions-text ul {
    padding-left: 25px;
}

#instructions-popup .instructions-text li {
    margin: 4px 0;
    font-size: 0.9rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible {
    outline: none;
}

.quantities .p-sidebar-header-content {
    color: #60a5fa;
    font-weight: 400;
    letter-spacing: 0.3px;
    user-select: none;
}

.quantity-switch .p-inputswitch-input {
    width: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.quantity-switch .p-inputswitch-slider {
    width: 40px;
    margin: 0 auto;
}

.p-inputswitch-slider::before {
    margin-top: -0.5rem;
}

.p-highlight .p-inputswitch-slider::before {
    background: #18181b;
}
